body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;

}

.terminal {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.prompt {
  color: #0f0;
}

#b {
  color: red
}

#c {
  color: rgb(19, 117, 244)
}

.blinking-cursor {
  font-size: 20px;
  color: white;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
      color: transparent;
  }
}